{% extends "layout.html" %}

{% block content %}

	
	<table class="default">
		
		<tbody style="background: rgba(128, 255, 0, 0.3); border: 1px solid rgba(100, 200, 0, 0.3);">
			<tr>

				<th scope="row">Mes</th>

				<th>Enero</th>

				<th>Febrero</th>

				<th>Marzo</th>
			
				<th>Abril</th>
			
				<th>Mayo</th>
			
				<th>Junio</th>
			
				<th>Julio</th>
			
				<th>Agosto</th>
			
				<th>Septiembre</th>
			
				<th>Octubre</th>
			
				<th>Noviembre</th>
			
				<th>Diciembre</th>
	
			</tr>

			<tr>

				<th>Reparacion de componentes</th>

				<td>Se realizaron reparaciones los siguientes dias del mes presente: 12, 19 y 27</td>

				<td>Se realizaron reparaciones los siguientes dias del mes presente: 4 y 29</td>

				<td>Se realizaron reparaciones los siguientes dias del mes presente: 15</td>
			
				<td>Se realizaron reparaciones los siguientes dias del mes presente: 20</td>
			
				<td>No se realizaron Reparacaciones </td>
			
				<td>Se realizaron reparaciones los siguientes dias del mes presente: 19 y 22</td>
			
				<td>Se realizaron reparaciones los siguientes dias del mes presente: 3, 9, 16 y 26</td>
			
				<td>Se realizaron reparaciones los siguientes dias del mes presente: 7, 9 y 27</td>
			
				<td>Se realizaron reparaciones los siguientes dias del mes presente: 2, 11 y 20</td>

				<td>Se realizaron reparaciones los siguientes dias del mes presente: 27</td>
			
				<td>Se realizaron reparaciones los siguientes dias del mes presente: 12 y 18</td>
			
				<td>No se realizaron Reparaciones</td>

			</tr>

			<tr>

				<th>Informe de reparacion</th>

				<td></td>

				<td></td>

				<td></td>
			
				<td></td>
			
				<td></td>
			
				<td></td>
			
				<td></td>
			
				<td></td>
			
				<td></td>
			
				<td></td>
			
				<td></td>
			
				<td></td>

			</tr>

			<tr>

				<th>Soluciones</th>

				<td></td>

				<td></td>

				<td></td>
			
				<td></td>
			
				<td></td>
				
				<td></td>
				
				<td></td>
			
				<td></td>
			
				<td></td>
			
				<td></td>
			
				<td></td>
				
				<td></td>

			</tr>
		</tbody>
	</table>
	<div class="fixed-bottom">
		<a class="btn btn-secondary" href="{{url_for('Camiones')}}" role="button">Regresar</a>
	</div>
{% endblock %}