{% extends "layout.html" %}

{% block content %}


	<div class="w-25 p-3" style="background-color: #FF0000;">Estado de las ruedas - 25%</div>
	<div class="w-50 p-3" style="background-color: #FFA500;">Estado del motor - 50%</div>
	<div class="w-50 p-3" style="background-color: #FFA500;">Estado de la rampa - 50%</div>
	<div class="w-25 p-3" style="background-color: #FF0000;">Estado del motor - 25%</div>
	<div class="fixed-bottom">
		<a class="btn btn-secondary" href="{{url_for('Camiones')}}" role="button">Regresar</a>
	</div>

{% endblock %}