{% extends "layout.html" %}

{% block content %}
	<h1 class= "display-4"> Komatsu-930e</h1>
	<p class="lead">Potencia, Estabilidad y Versatilidad </p>
	<hr class="my-4">
	<p>Mediante el uso de diseños computacionales, análisis de elementos, pruebas dinámicas y estáticas a gran escala, el diseño del chasis ha sido estructuralmente mejorado, permitiendo acarrear 290 toneladas o 320 toneladas cortas, entregando la más alta confiabilidad de la industria.
		El camión eléctrico 930E-4 cuenta con un motor Komatsu SSDA16V160 diésel de 16 cilindros.Provee una potencia neta al volante de 1.902 [kW] 2.550 [hp] , con una excelente productividad, además de estar cumplir con las normas de emisión Tier 2.</p>

	<div class="accordion accordion-flush" id="accordionFlushExample">
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingOne">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
					Sistema de seguimiento Komatsu Komtrax Plus
				</button>
			</h2>
			<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body open">El sistema KOMTRAX Plus proporciona los medios para monitorear la salud de los componentes mayores del equipo, permitiéndole hacer evaluaciones remotas de sus condiciones y de sus operaciones. Este sistema ha sido diseñado para reducir los costos de reparaciones y mantener la disponibilidad óptima de la máquina ayudando a prevenir tiempos muertos imprevistos. En resumen, la ventaja más clara de este sistema es que permite, a través de su uso adecuado, lograr la correcta operación y mantenimiento del equipo, optimizando su rendimiento y así pudiéndose extender su vida útil.</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingTwo">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
					Propulsion eléctrica
				</button>
			</h2>
			<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">A diferencia de la propulsión mecánica, la propulsión eléctrica permite generar un movimiento eficiente y limpio del equipo. Al dejar de lado una gran parte de la estructura mecánica, el sistema eléctrico de propulsión reduce los tiempos de mantenimiento programada y reparaciones correctivas, minimizando así los costos de operación y mantenimiento. Esto además, se traduce en un aumento significativo de la tasa de disponibilidad,  y por lo tanto de producción del equipo. Sus curvas de propulsión, muestran una eficiencia de operación sin competencia lo que genera eficiencia en el uso de la energía.</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingThree">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
						Retardador eléctrico dinámico
					</button>
			</h2>
			<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">Su sistema de retardo eléctrico dinámico permite suministrar 5.400 hp de resistencia a entregando una capacidad avanzada de frenado para las aplicaciones de minería de hoy en día, que contienen descensos continuos, empinados y curvas en zigzag. Esta característica en descensos, utiliza energía eléctrica para frenar el equipo la cual es disipada mediante una rejilla, transformando la energía eléctrica en calor. El uso de energía eléctrica en lugar de energía mecánica, implica el uso de una energía mucho más limpia, eficiente y que reduce ampliamente los costos de operación, mantenimiento y disponibilidad del equipo. El retardo eléctrico dinámico,  mejora la productividad y la confianza del operador, al mismo tiempo que elimina la necesidad de un esfuerzo excesivo de frenado mecánico, que produce más desgaste y menos eficiencia de energía.</div>
			</div>
		</div>
	</div>
	
{% endblock %}