{%extends "layout.html" %}

{% block content %}

	<link rel="stylesheet" href="css/login.css">
        
        <style type="text/css">
            
        </style>
        
        <script type="text/javascript">
        
        </script>
	<SCRIPT  language=JavaScript> 
		function go(){

		if (document.form.password.value=='123' && document.form.login.value=='señorbarriga@gmail.com'){ 
			document.form.submit(); 
		} 
		else{ 
			alert("Porfavor ingrese, correo y contraseña correctos."); 
		} 
	}	 
	</SCRIPT> 
	<form name=form action="Camiones.html">
		<div class="mb-3">
			<label for="exampleInputEmail1" class="form-label">Direccion de Correo Electronico</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name=login>
			<div id="emailHelp" class="form-text">Asegurese de recordar su Email y contraseña, no se le proveera otra cuenta.</div>
		</div>
		<div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">Contraseña</label>
			<input type="password" class="form-control" id="exampleInputPassword1" name=password>
		</div>
		<div class="mb-3 form-check">
			<input type="checkbox" class="form-check-input" id="exampleCheck1">
			<label class="form-check-label" for="exampleCheck1">mantener sesion iniciada</label>
		</div>
		<a class="btn btn-primary btn-lg" href="{{url_for('Camiones')}}" role="buttom">Acceder</a>
		<a class="btn btn-primary btn-lg" href="{{url_for('Register')}}" role="button">Registrarse</a>
	</form>

	
	

{% endblock %}