{% extends "layout.html" %}

{% block content %}


		<table class="table">
			<thead>
				<tr>
					<th scope="col">Fechas</th>
					<th scope="col">Motor</th>
					<th scope="col">Ruedas</th>
					<th scope="col">Radiador</th>
					<th scope="col">Cableado</th>
					<th scope="col">Frenos</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Enero</th>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td></td>
					<td>X</td>
				</tr>
				</tr>
				<tr>
					<th scope="row">Febrero</th>
					<td>X</td>
					<td></td>
					<td></td>
					<td></td>
					<td>X</td>
				</tr>
				<tr>
					<th scope="row">Marzo</th>
					<td></td>
					<td>X</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th scope="row">Abril</th>
					<td>X</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th scope="row">Mayo</th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th scope="row">Junio</th>
					<td></td>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
				</tr>
				<tr>
					<th scope="row">Julio</th>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr>
					<th scope="row">Agosto</th>
					<td></td>
					<td>X</td>
					<td>X</td>
					<td></td>
					<td>X</td>
				</tr>
				<tr>
					<th scope="row">Septiembre</th>
					<td></td>
					<td>X</td>
					<td></td>
					<td>X</td>
					<td>X</td>
				</tr>
				<tr>
					<th scope="row">Octubre</th>
					<td>X</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th scope="row">Noviembre</th>
					<td></td>
					<td></td>
					<td>X</td>
					<td></td>
					<td>X</td>
				</tr>
				<tr>
					<th scope="row">Diciembre</th>
					<td>X</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<div class="fixed-bottom">
			<a class="btn btn-secondary" href="{{url_for('Camiones')}}" role="button">Regresar</a>
		</div>
{% endblock %}