{% extends "layout.html" %}

{% block content %}

	<form>
		<div class="mb-3">
			<label for="exampleInputEmail1" class="form-label">Direccion de Correo Electronico</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
			<div id="emailHelp" class="form-text">Nunca compartiremos su correo con alguien mas</div>
		</div>
		<div class="row g-3 align-items-center">
			<div class="col-auto">
				<label for="inputPassword6" class="col-form-label">Contraseña</label>
			</div>
			<div class="col-auto">
				<input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
			</div>
			<div class="col-auto">
				<span id="passwordHelpInline" class="form-text">
				Debe tener un largo de 8-12 caracteres.
				</span>
			</div>
		</div>
		<a class="btn btn-primary btn-lg" href="{{url_for('Login')}}" role="button">Registrarse</a>
	</form>
{% endblock %}